* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 160px;
    height: 160px;
    top: 12.5%;
    position: relative;
    left: 25%;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
    float: left;
    box-shadow: 6px 6px -1px rgba(0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 0, 0.7);
}

.inner {
    background-image: linear-gradient(to right, rgb(245, 85, 85), yellow);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0, 0.5);
}

#number {
    font-weight: 900px;
    color: white;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.skill1 {
    width: 160px;
    height: 160px;
    position: relative;
    left: 150%;
}

.outer1 {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
    float: left;
    box-shadow: 6px 6px -1px rgba(0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 0, 0.7);
}

.inner1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0, 0.5);
}

#number1 {
    font-weight: 900px;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.logo2 {
    margin: 10% 0 0 25%;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 0;
    }
}